!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title app27/demo11
    %script(src="/build/react.js")
    %script(src="/build/react-dom.js")
    %script(src="/browser.min.js")
    %script(src="/jquery.min.js")
    %script(src="/d3.v3.min.js")
  %body
    %h1    app27/demo12
    %hr/

    :javascript

    %script(type="text/babel")



