!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title app27/demo11
    %script(src="/build/react.js")
    %script(src="/build/react-dom.js")
    %script(src="/browser.min.js")
    %script(src="/jquery.min.js")
    %script(src="/d3.v3.min.js")
  %body
    %h1    app27/demo11
    #example example
    %hr/
    #jquery_example1 jquery_example1 
    %hr/
    #jquery_example2 jquery_example2 
    %hr/
    #d3_example1 d3_example1
    %hr/
    #d3_example2 d3_example2
    %script(type="text/babel")
      ReactDOM.render(
      <h1>React says: Hello, world!</h1>,
      document.getElementById('example')
      );
    :javascript
      jQuery(function(){
        var jmsg  = ' hello.';
        var d3msg = ' hi too.';

        $('#jquery_example1').text('<h1>jQuery1 says: '+jmsg+'</h1>');


        $('#jquery_example2').text('');
        $('<h1/>', {text:'jQuery2 says: '+jmsg}).appendTo('#jquery_example2');

        d3.select("#d3_example2")
          .text('')
          .append('h1')
          .text('D3.js says: '+d3msg);
      });
  

