!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title app27/demo12
    %script(src="/build/react.js")
    %script(src="/build/react-dom.js")
    %script(src="/browser.min.js")
    %script(src="/jquery.min.js")
    %script(src="/demo12.js")
  %body
    %h1    app27/demo12
    %hr/
    #content
    %hr/
  
