!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title app27/demo12
    %script(src="/build/react.js")
    %script(src="/build/react-dom.js")
    %script(src="/browser.min.js")
    %script(src="/jquery.min.js")
  %body
    %h1    app27/demo12
    %hr/
    #content
    %hr/

    :javascript
      // tutorial1.js
    %script(type="text/babel")
      var CommentBox = React.createClass({
      render: function() {
      return 
      <div className="commentBox">
      Hello, world! I am a CommentBox.
      </div>
      );
      }
      });
      ReactDOM.render(
      <CommentBox />,
      document.getElementById('content')
      );

