!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title app27/demo11
    %script(src="/build/react.js")
    %script(src="/build/react-dom.js")
    %script(src="/browser.min.js")
    %script(src="/jquery.min.js")
    %script(src="/d3.v3.min.js")
  %body
    %h1    app27/demo11
    #example yo
    %hr/
    #jquery_example hi
    %hr/
    #d3_example d3 yes
    %script(type="text/babel")
      ReactDOM.render(
      <h1>React says: Hello, world!</h1>,
      document.getElementById('example')
      );
    :javascript
      jQuery(function(){
        var jmsg = ' hello.';
        $( "#jquery_example" ).html('<h1>jQuery says: '+jmsg+'</h1>');
        var d3msg  = ' hi too.';
        d3.select("#d3_example")
          .append('h1')
          .text('D3.js says: '+d3msg);
      });
  

