!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %title app27/demo10
    %script(src="/build/react.js")
    %script(src="/build/react-dom.js")
    %script(src="/browser.min.js")
  %body
    %h1    app27/demo10
    #example
    %script(type="text/babel")
      ReactDOM.render(
      <h1>Hello, world!</h1>,
      document.getElementById('example')
      );
